@import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');

/* Global styles */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: antiquewhite;
    padding: 10%;
}

.logo,
.heading {
    text-align: center;
}

/* #nav {
    display: flex;
    flex-direction: row;
    font-size: 110%;
    letter-spacing: 2px;
    list-style-type: none;
}

#nav-list {
    margin-bottom: 1em;
    list-style-type: none;
    flex-direction: row;

} */

.navbar {
    display: flex;
    flex-direction: row;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgb(71, 48, 48);
    padding: 1em;
    color: white;
}

.navbar-styles {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    font-size: 110%;
    letter-spacing: 2px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: inline-block;
    margin: 0;
    padding: 0;
}

h1,
h3 {
    text-align: center;
}

/* Media query: large or landscape phones (576px and up) */
@media screen and (min-width:576px) {
    #photos {
        column-count: 2;
        column-gap: 0;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width:768px) {

    /* Header */
    /* nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    } */

    /* Large devices (laptops and desktops, 992px and up) */
    @media screen and (min-width:792px) {}